<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Product Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form>
    <ion-item>
    <ion-label position="stacked">Product ID</ion-label>
    <ion-input required type="text" [(ngModel)]="pId" name="pId">
    </ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-input [(ngModel)]="pdesc" name="pdesc"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="stacked">Quantity on hand</ion-label>
    <ion-input [(ngModel)]="Qty" name="Qty"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Price Per Unit</ion-label>
      <ion-input [(ngModel)]="pricePerUnit" name="pricePerUnit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Reorder Quantity</ion-label>
        <ion-input [(ngModel)]="rQty" name="rQty"></ion-input>
        </ion-item>
    <ion-button type="submit" (click)="insert()" >Add Product</ion-button>

    </form>
    {{outMsg}}
    <li *ngFor="let i of outRec">{{i.pId}} {{i.pdesc}}
       {{i.Qty}} {{i.pricePerUnit}} {{i.rQty}}</li>
    </ion-content>
</ion-content>
